// Colors
$light-blue: #3c8dbc;  //Primary
$red:        #dd4b39;  //Danger
$clr-red-1:#dc4735;
$clr-red-2:#d73925;
$green:      #00a65a;  //Success
$aqua:       #00c0ef;  //Info
$yellow:     #f39c12;  //Warning
$blue:       #0073b7;
$navy:       #001F3F;
$teal:       #39CCCC;
$olive:      #3D9970;
$lime:       #01FF70;
$orange:     #FF851B;
$fuchsia:    #F012BE;
$purple:     #605ca8;
$maroon:     #D81B60;
$black:      #111;
$clr-black-444:#444444;
$clr-black-000:#000;
$gray:       #d2d6de;
$clr-grey-1:#f9fafc;
$clr-grey-2:#f6f6f6;
$clr-grey-3:#f4f4f5;
$clr-grey-4:#d2d6de;
$clr-grey-5:#999;
$clr-grey-6:#848484;
$clr-grey-7:#777777;
$clr-grey-8:#666;
$white:      #fff;